[Desktop Entry]
Type=Application
Name=Omawrite
GenericName=Markdown Writer
Comment=Dead-simple Markdown writing app
Exec=omawrite %F
Icon=omawrite
Terminal=false
Categories=Office;WordProcessor;TextEditor;
MimeType=text/markdown;text/x-markdown;text/plain;
Keywords=markdown;write;notes;text;editor;
StartupNotify=true
StartupWMClass=omawrite
SingleMainWindow=false
